body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 20px;
}

.main {
    height: 400px;
    width: 250px;
    background-color: #F9E6E9;
    display: grid;
    place-items: center;
    color: #4e2b00;
    font-family: Gaegu;
    border-radius: 15px;
}

#colourPicker {
    background-color: none;
    outline: none;
    border: none;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

#box {
    outline: none;
    border: 2px solid #333;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    padding: 0 10px;
}
